body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  border: solid 3px black;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.left {
  width: 50%;
  border: solid 2px black;
  box-sizing: border-box;
  padding: 0px 0px 5px 1px;
}

.right {
  width: 50%;
  border: solid black;
  box-sizing: border-box;
  padding: 0px 1px 5px 0px;
}

h2 {
  padding: 5px;
}

.placeholder {
  display: flex;
  flex-direction: row;
}

mini-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.new {
  background-color: grey;
  float: right;
  padding: 5px;
}

p {
  margin: 5px;
}